#root {
  width: 100%;
  height: 100%;
}

.vvLogo {
  align-items: left !important;
  width: 30%; 
}

.linkHeader {
  text-align: center !important;
  background-color: #4DFFD4;
  margin: 15%;
  color: black;
  width: 100%;
}

.linkHeader:hover {
  color: white;
  text-shadow: 0 0 15px #1FE7B8;
}

.header {
  display: flex;
  background-color: white;
}

.dropdownItem {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black; /* Change to your desired color */
}

.dropdownItem:hover {
  background-color: #f0f0f0; /* Change to your desired hover color */
}
