#root {
  width: 100%;
  height: 100%;
}

/* Header */
.vvLogo {
  display: flex;
  align-items: left !important;
  flex-shrink: 0;
  width: 250px;
  height: auto; /* Maintain aspect ratio */
  max-width: none; /* Ensure it doesn't exceed the container */
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 10px 20px;
  margin: 5px;
}
/* Media query for smaller devices */
@media (max-width: 600px) {
  .header {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Align items to the start */
    text-align: center;
  }

  .vvLogo {
    width: 250px; /* Keep the logo at a fixed size */
  }

  .navLinks {
    margin-top: 10px; /* Add some space between logo and links */
  }
}

.dropdownItem {
  display: inline-block; /* Make it behave like a button */
  padding: 10px 20px; /* Add padding for a button-like appearance */
  background-color: #041510; /* Background color */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s; /* Smooth transition */
  font-weight: 400;
}

.dropdownItem:hover {
  color: white;
  text-shadow: 0 0 15px #1FE7B8;
}

.navHeader {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.linkButton {
  display: inline-block; /* Make it behave like a button */
  padding: 10px 20px; /* Add padding for a button-like appearance */
  background-color: #041510; /* Background color */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s; /* Smooth transition */
  font-weight: 400;
}

.linkButton:hover {
  color: white;
  text-shadow: 0 0 15px #1FE7B8;
}

.activeLink {
  background-color: #1FE7B8; /* Background color for active link */
  color: black; /* Text color for active link */
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 0rem;
  background-color: #1FE7B8;
}

.footerText {
  margin: 0;
  font-weight: normal;
  padding-left: 4rem;
}

.mediaIconsYoutube {
  width: 40px;
  height: 40px;
  padding-right: 4rem;
}

.mediaIconsX {
  width: 30px;
  height: 30px;
  margin-bottom: 0.25rem;
  padding-right: 5rem;
}